<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../assets/css/footer.css">
        <meta charset="UTF-8">
    </head>
    
    <body>
        <footer>
            <a href="https://github.com/mac0332-dsws/dsws">
                <img src="../assets/images/github.png">
            </a>
            <p > 
                MAC0332 Software Engineering | USP <br>
                This extension is a project submission for the Software Engineering course at the University of São Paulo. <br>
                Developed by DSWS Team.
            </p>
        </footer>
    </body>
</html>