<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../assets/css/navbar.css">
        <link rel="stylesheet" href="../assets/css/animation.css">
        <meta charset="UTF-8">
    </head>
    
    <body>
        <navigation>
            <div class="navbar-logo">
                <a href="../index.html" target="_top" class="navbar-logo">
                    <img src="../assets/images/icon.png">
                    <p>.ds<span class="grey">ws</span></p>
                </a>
            </div>
                <ul class="navbar-urls">

                        <a id="upload-button" class="navbar-button" href="../index.html" target="_top">
                            <img src="../assets/images/upload.png" class="upload-image"> Upload
                        </a>

                        <a class="navbar-button regular-button" href="../about.html" target="_top" >About</a>

                        <a class="navbar-button regular-button" href="../guide.html" target="_top">Guide</a>
                </ul>
        </navigation>
    </body>

</html>